<a href="/teams">Team Index</a>
<a href="/players">Player Index</a>
<a href="/teams/new">New Team</a>

<% @teams.each do |team| %>
  <p><%= team.name %></p>
  <p><%= team.created_at.to_s %></p>
  <a href="/teams/<%= team.id %>/edit">Edit <%= team.name %></a>
  <%= button_to "Delete #{team.name}", "/teams/#{team.id}", method: :delete %>
<% end %>

