<a href="/teams">Team Index</a>
<a href="/players">Player Index</a>
<a href="/player_table_name/<%= @player.id %>/edit">Update Player</a>

<h1><%= @player.name %></h1>

<p><%= @player.salary %></p>
<p><%= @player.position %></p>
<p><%= @player.injured %></p>